info:
  version: @project.version@
  stage: dev

server:
  port: @server.port@

management:
  security:
    flag: false
  server:
    port: @management.port@
  metrics:
    export:
      statsd:
        flavor: etsy
        enabled: false
      prometheus:
        enabled: false
  endpoint:
    health:
      show-details: always
    metrics:
      enabled: true
    prometheus:
      enabled: true
  endpoints:
    web:
      exposure:
        include: health,info,prometheus

spring:
  application:
    name: @project.name@
  datasource:
    type: com.zaxxer.hikari.HikariDataSource
    driver-class-name: org.postgresql.Driver
    url: @db.url@
    username: @db.user@
    password: @db.password@
    hikari:
      idle-timeout: 30000
      maximum-pool-size: 20
  flyway:
    schemas: @db.schema@
  output:
    ansi:
      enabled: always

eventstock:
  pollingEnable: true

partymanagement:
  url: http://hellgate:8022/v1/processing/partymgmt
  timeout: 5000

filestorage:
  url: http://file-storage:8022/file_storage
  clientTimeout: 5000
  urlLifeTimeDuration: 360
  timeZone: Europe/Moscow

reporting:
  reportsLimit: 0
  defaultTimeZone: Europe/Moscow
  pollingEnable: true
  pollingDelay: 3000

kafka:
  bootstrap-servers: changeit:9092
  consumer:
    group-id: fistful-reporter
    concurrency: 7
  max-poll-records: 100
  max-poll-interval-ms: 60000
  max-session-timeout-ms: 60000
  retry-delay-ms: 1000
  ssl:
    enabled: false
    key-store-type: changeit
    key-store-location: changeit
    key-password: changeit
    trust-store-type: changeit
    trust-store-location: changeit
    trust-store-password: changeit
  topic:
    deposit:
      name: deposit
      listener:
        enabled: false
    destination:
      name: destination
      listener:
        enabled: false
    identity:
      name: identity
      listener:
        enabled: false
    wallet:
      name: wallet
      listener:
        enabled: false
    withdrawal:
      name: withdrawal
      listener:
        enabled: false
    source:
      name: source
      listener:
        enabled: false
